go 1.25.6

use (
	./services/book-service
	./services/gateway-service
	./services/order-service
	./services/user-service
	./shared/go
	./test/integration
	./test/unit/test-book-service
	./test/unit/test-gateway-service
	./test/unit/test-order-service
	./test/unit/test-user-service
)
